*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

/*  header start */
#header{
  width:100%;
  text-align: center;
  padding: 40px 20px;
  background:#004774;
  color:white;
  height:240px;
  border-top:6px solid black;
  border-bottom:6px solid black;
}
/* header end */

/* footer start */
#footer{
  width:100%;
  text-align: center;
  padding: 40px 20px;
  background:#004774;
  color:white;
  height:100px;
  border-top:6px solid black;
  border-bottom:6px solid black;
}
/* footer end */

/* meme collection start */
#memecollection{
  padding-left: 0;
}
.set{
  display: flexbox;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
/* meme collection end */

/* meme template start */

/* meme template end */

@media only screen and (max-width: 600px) {
}
